.Pie-de-pagina {    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 3px 3px 3px black;
    color: whitesmoke;
    background-color: $colorprincipal;
    width: auto;
    height: 250px;
    margin: auto;
    padding: 50px;
    margin-bottom: 50px;             

}