@import "main";

@media screen and (max-width:321px) {

    .Video {
        width: 320px;
        height: 200px;
    }

    .Multimedia img {
        display: inline;
        height: 30px;
    }

    .Titulo {
        margin-top: 5%;
    }

    .Presentacion {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 25px;
    }


    .Cabezera {
        width: 300px;
        height: 150px;
        font-size: 25px;
        padding: 17px;
    }

        

    .container-fluid img {
        height: 40px;
    }

    header img {
        height: 50px;
    }


    .Cabezera-Marca  {
        width: 300px;
        height: 135px;
        font-size: 25px;
        padding: 17px;

    }

    

    .text-center img {
        width: 50%;
        height: 50%;
        padding: 5%;
    
    }


    .Pie-de-pagina {
        height: 370px;
        padding: 20px;
        
    }

}

