@import "main";



@media screen and (min-width:786px) and (max-width:1024px) { 

    .Informacion-Servicios {
        height: 430px;
     }

    .Servicios {
        height: 835px;
    }
}



// TABLET
@media screen and (min-width:425px) and (max-width:768px) { 


    .body-1 {
        width: 825px;
    }

    .container-fluid img {
        height: 40px;
    }


    .Presentacion {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 25px;
    }


    .Descripción  {
        width: 600px;
        margin-left: 12%;
    }

    .noticia {
        padding: 128px;
    }

    .body-2 {
        width: 960px;
    }

    .Informacion-Servicios {
        height: 500px;
    }




}







// DISPOSITIVO MOVIL L
@media screen and (min-width:375px) and (max-width:425px) {

    .container-fluid img {
        height: 80px;
    }


    body {
        width: 600px;
    }

    .Presentacion {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 25px;
    }

    .body-1 {
        width: 825px;
    }

    .Descripción  {
        width: 600px;
        margin-left: 12%;
    }

    .noticia {
        padding: 150px;
        font-size: 30px;
    }    


    .body-2 {
        width: 960px;
    }


    .Informacion-Servicios {
        height: 500px;
    }


}


@media screen and (min-width:320px) and (max-width:375px) {

    body {
        width: 600px;
    }
    
    .Presentacion {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 25px;
    }


    .container-fluid img {
        height: 80px;
    }


    .body-1 {
        width: 820px;
    }


    .Descripción  {
        width: 600px;
        margin-left: 12%;
    }


    .noticia {
        padding: 150px;
        font-size: 30px;
      
    }  



    .body-2 {
        width: 960px;
    }


    .Informacion-Servicios {
        height: 500px;
    }

    .Servicios {
        height: 1000px;
        padding-left: 65px;
    }

    .Pie-de-pagina {
        height: 275px;
    }



}















// @media screen and (min-width:321px), (max-width:375px) {

//     .Video {
//         width: 320px;
//         height: 200px;
//     }

//     .Multimedia img {
//         display: inline;
//         height: 30px;
//     }

//     .Titulo {
//         margin-top: 5%;
//     }

//     .Presentacion {
//         padding-left: 5%;
//         padding-right: 5%;
//         font-size: 25px;
//     }


//     .Cabezera {
//         width: 300px;
//         height: 150px;
//         font-size: 25px;
//         padding: 17px;
//     }

//     .container-fluid    {
//         width: 320px;
//         padding-right: 50px;
//     }

//     .container-fluid img {
//         height: 40px;
//     }

//     header img {
//         height: 45px;
//         padding-right: 60px;
//     }


//     .Cabezera-Marca  {
//         width: 300px;
//         height: 135px;
//         font-size: 25px;
//         padding: 17px;

//     }

    

//     .text-center img {
//         width: 50%;
//         height: 50%;
//         padding: 5%;
    
//     }


//     .Pie-de-pagina {
//         height: 370px;
//         padding: 20px;
        
//     }



//     .Titulo {
//         font-size: 25px;
//         font-weight: bolder;
//     }

// }






// @media screen and (max-width:320px) {

//     .Video {
//         width: 320px;
//         height: 200px;
//     }

//     .Multimedia img {
//         display: inline;
//         height: 30px;
//     }

//     .Titulo {
//         margin-top: 5%;
//     }

//     .Presentacion {
//         padding-left: 5%;
//         padding-right: 5%;
//         font-size: 25px;
//     }


//     .Cabezera {
//         width: 300px;
//         height: 150px;
//         font-size: 25px;
//         padding: 17px;
//     }

        

//     .container-fluid img {
//         height: 40px;
//     }

//     header img {
//         height: 50px;
//     }


//     .Cabezera-Marca  {
//         width: 300px;
//         height: 135px;
//         font-size: 25px;
//         padding: 17px;

//     }

    

//     .text-center img {
//         width: 50%;
//         height: 50%;
//         padding: 5%;
    
//     }


//     .Pie-de-pagina {
//         height: 370px;
//         padding: 20px;
        
//     }



//     .Titulo {
//         font-size: 25px;
//         font-weight: bolder;
//     }



// }
