.Menu { 
        width: 100%;
        background-color: #989898;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Roboto Condensed', sans-serif;
        
}

.Contenedor{ 
    width: 80%;
    margin: 0% auto;
}

.Menu ul {
        list-style: none;

}

.Menu ul li {
        display: inline-block;
        padding: 20px;
        transition: all .3s ease;
}

.Menu ul li:hover {
        transform: scale(1.2);
        background-color: #bf1d1d;
        
}

.Menu ul li a {
        color: white;
        text-decoration: none;

}



.logoprincipal{    justify-content: center;
                display: flex;
                align-items: center;
}

.Titulo{ font-family: 'Roboto Condensed', sans-serif;
                    font-size: 35px;
                    text-align: center;
                    color: whitesmoke;
                    font-weight: bolder;
                    background-color: #bf1d1d;
                    height: 80px;
                    padding: 20px;
  
                    
                    

                  
}

.Informacion{  font-family: 'Roboto Condensed', sans-serif;
                    font-size: 37px;
                    text-align: center;
                    border-width:5px;
                    border-style: inset;
                    border-color:#bf1d1d;
                    width: auto !important; 
                    height: 350px !important;
                    padding: 50px;
                  
                    

}

.Informacion img {
    padding: 30px;
}

.Clientes {    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 35px;
                    color: #bf1d1d;
                    text-shadow: 1px 1px 1px black;
                    text-align: center;
                    font-weight: bolder;
                    padding: 70px;
                    width: auto;
                    height: 10px;

}


.Clientes-Imagenes {
                    width: auto;
                    padding: 50px;
                    height: 200px;
                    align-items: center;
                    text-align: center;
                    

}


.Pie-de-pagina {  font-family: 'Roboto Condensed', sans-serif;
                font-size: 30px;
                text-align: center;
                font-weight: bolder;
                text-shadow: 3px 3px 3px black;
                color: whitesmoke;
                background-color: #bf1d1d;
                width: auto;
                height: 250px;
                margin: auto;
                padding: 50px;
                margin-bottom: 50px;             
                
            }          



.Regreso-pagina-principal {  font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    width: auto;
    height: 80px;
    padding: 40px;


}





.Titulo-Clientes { font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    background-color: #bf1d1d;
    height: 40px;
    padding: 20px;
}

.Titulo-Quienes { font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    background-color: #bf1d1d;
    height: 40px;
    padding: 20px;

}


.Titulo-Como { font-family: 'Roboto Condensed', sans-serif;
  font-size: 45px;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  background-color: #bf1d1d;
  height: 80px;
  padding: 20px;

}





.Titulo-Servicios {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  background-color: #bf1d1d;
  height: 40px;
  padding: 20px;
}

.Informacion-Servicios {
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;               
  width: auto;
  height: 200px;
  padding: 40px;
}


.Informacion-Clientes {
  font-size: 35px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 50px;
  font-weight: bolder;
  width: auto;
  height: 100px;
  padding: 40px;
  margin-top: 50px;
}

.Imagenes-Clientes {
  align-items: center;
  text-align: center;
  width: auto;
  height: 200px;
}




.Imagenes-Quienes {
    text-align: center;

}


.Imagen-Como {
  text-align: center;
}


.Formulario {
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;               
  width: auto;
  height: 200px;
  padding: 40px;
}


.Multimedia-Mapa {
  text-align: center;
}


.Titulo-Contactenos {     font-size: 45px;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  background-color: #bf1d1d;
  height: 40px;
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}


.Imagen-Contactenos {
  text-align: center;
  width: auto;
  height: 250px;
  margin-top: 20px;
}




.Clientes img {
        background-color: #bf1d1d;
}

.Multimedia {
    align-items: center;
    display: flex;
    text-align: center;
    
}



.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.4s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
    
  }
}

.Nosotros {
  display: grid;
  grid-gap: 40px;
  font-size: 30px;
  width: auto;
  height: 340px;
  padding: 40px;
  margin-top: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "Misión Visión Valores"
                        "Misión  Visión Valores"
                        "Misión  Visión Valores"
}


.Descripción {

  grid-column-start: Descripción;
  grid-column-end: Descripción;
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;               
  width: auto;
  height: 260px;
  padding: 40px;
  
  

}

.Nosotros .Misión {

  grid-column-start: Misión;
  grid-column-end: Misión;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
 
}


.Nosotros .Visión {
  grid-column-start: Visión;
  grid-column-end: Visión;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}

.Nosotros .Valores {
  grid-column-start: Valores;
  grid-column-end: Valores;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}

.Negrita {
  font-weight: bolder;
  color: #bf1d1d;
  font-size: 40px;
}


.Servicios {
  display: grid;
  grid-gap: 40px;
  font-size: 25px;
  width: auto;
  height: 500px;
  padding: 40px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "Actividades Cobertura Contratos"
                        "Actividades  Cobertura Contratos"
                        "Actividades  Cobertura Contratos"
  
}



.carousel-item.active {
  
  height: 250px !important;
  width: 500px !important;
  position:initial !important;
  text-align: center !important;
  margin-left: 700px !important;

}



.accordion-item {
  font-size: 30px !important;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}


.TituloSeccion {
  font-size: 30px !important;
  font-family: 'Roboto Condensed', sans-serif;
  
}







/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}